
p {
    font-family: Lato;
  }
mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
.content {
    height: calc(70vh - 95px);
    margin: 16px;


    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
    background: white;
    border-radius: 10px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    padding-left: 60px;
}

.ok-button {
    margin-left: 20px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
mat-elevation-z4 {
    background: white;
}
