<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Menu
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <h4 class="name">Admin</h4>
    <p class="designation">Ingénieur logiciel</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Personnalités</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Infos</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Aide</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-form-field appearance="fill">
      <mat-label>Choisissez une option</mat-label>

      <mat-select [(ngModel)]="selectedValue" name="keyWord">
        <mat-option *ngFor="let keyWord of keyWords" [value]="keyWord.value">
          {{keyWord.value}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <button mat-raised-button color="primary" (click)="validate()" class="ok-button">Valider</button>

    <h1> Visualisation du nombres de tweets sur les 7 derniers jours en fonction des mots clés </h1>

    <div class="content mat-elevation-z4">
      <canvas id="mychart" max-width="600" width="600" height="350" #mychart></canvas>
      <canvas id="pieChart" max-width="600" width="600" height="350" #pieChart></canvas>
    </div>

    <div>
      <h1> Affichage des 10 derniers tweets du mot clé sélectionné</h1>
      <p> {{text}} </p>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
